<%= form_for(pin) do |f| %>
  <% if pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form">

  <div class="form-group">
    <div class="field">
      <%= f.label :titile, class: "col-xs-3 control-label" %>
      <%= f.text_field :titile, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
      <div class="field">
        <%= f.label :image, class:"col-xs-3 control-label" %>
        <%= f.text_field :image, class: "form-control" %>
      </div>
  </div>
</div>
      <div class="actions">
        <%= f.submit class:'btn btn-primary col-md-3 bton-submit' %>
      </div>
<% end %>
