<h1>Pins</h1>

<%= link_to 'New Pin', new_pin_path, class: 'btn btn-primary btn-new' %>

<div class="row">
  <%  @pins.each do |pin|%>
  <div class="col-md-3">
    <div class="well text-center pin">
      <div class="bloque">
        <%= image_tag pin.image, class:"img-responsive foto" %>
        <h5><%= pin.titile %></h5>
        <%= link_to 'Show', pin, class: 'btn btn-primary btn-xs' %>
        <%= link_to 'Edit', edit_pin_path(pin), class: 'btn btn-info btn-xs' %>
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'%>
      </div>
    </div>
  </div>
  <%end%>
</div>



<br>
